.logo_div {
	width: 100%;
	text-align: center;
	padding-top: 80px;
}

.search_div {
	width: 520px;
	padding-top: 15px;
	text-align: center;
	margin: auto;
}

.search_div_input {
	background: url("../img/search.png") no-repeat scroll left center
		transparent;
	border: medium none;
	float: left;
	height: 34px;
	line-height: 34px;
	padding: 0 5px;
	width: 410px;
}

.search_div_button {
	background: url("../img/search_button.png") no-repeat scroll center
		center transparent;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 34px;
	width: 100px;
}

.label_width {
	width: 340px;
}

.div_margin {
	margin-left: 360px;
}

.arrow_img{
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	width: 30px;
	display: block;
    float: none;
    padding-top:19px;
    padding-left:30px;
    text-decoration: none;
    margin-top:10px;
    margin-left:10px;
}

.message li{
	color: red;
}